@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 20px;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

@supports (scrollbar-color: #303030 #000000) {
  * {
    scrollbar-color: #303030 #000000;
    scrollbar-width: thin;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 20px;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

@supports (scrollbar-color: #303030 #000000) {
  * {
    scrollbar-color: #303030 #000000;
    scrollbar-width: thin;
  }
}
body {
  background-color: rgb(2, 2, 2);
}

.active {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px #00b300;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.02;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: -1;
}

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  z-index: 2;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  height: 60px;
  margin: 0 auto;
  padding: 0 25px;
}
.nav-content__logo {
  color: white;
  cursor: default;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav-content__logo:hover {
  color: rgb(224, 224, 224);
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right-list {
  display: flex;
  gap: 50px;
}
.nav-right-list__link {
  text-decoration: none;
  list-style: none;
  color: white;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav-right-list__link:hover {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px #007400;
}
.nav-right__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5px;
  width: 80px;
  height: 35px;
  margin-left: 70px;
  background-color: #00b300;
  color: white;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  border: 2px solid #00b300;
  cursor: pointer;
}
.nav-right__btn:hover {
  background-color: rgb(0, 146, 0);
  border: 2px solid rgb(0, 146, 0);
}

.lp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px;
}
.lp-intro {
  margin-top: 50px;
}
.lp-intro__text {
  color: rgb(214, 214, 214);
  letter-spacing: 15px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  -webkit-animation: fadeIn 0.7s ease-in-out forwards;
          animation: fadeIn 0.7s ease-in-out forwards;
}
.lp-intro-name {
  display: flex;
  padding: 0;
  color: white;
  font-size: 120px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lp-intro-name__letter {
  margin-left: -8px;
  letter-spacing: 9px;
}
.lp-intro-name__letter:nth-child(1) {
  transition-delay: 100ms;
}
.lp-intro-name__letter:nth-child(2) {
  transition-delay: 200ms;
}
.lp-intro-name__letter:nth-child(3) {
  transition-delay: 300ms;
}
.lp-intro-name__letter:nth-child(4) {
  transition-delay: 400ms;
}
.lp-intro-name__letter:nth-child(5) {
  transition-delay: 500ms;
}
.lp-intro-name__letter:nth-child(6) {
  transition-delay: 600ms;
}
.lp-intro-name__letter:nth-child(7) {
  transition-delay: 700ms;
}
.lp-intro-name__letter:nth-child(8) {
  transition-delay: 800ms;
}
.lp-intro-name__letter:nth-child(9) {
  transition-delay: 900ms;
}
.lp-intro-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #00b300;
  margin-top: 20px;
  margin-left: 4px;
  overflow: hidden;
  -webkit-animation: box 0.7s ease-in-out forwards;
          animation: box 0.7s ease-in-out forwards;
}
.lp-intro-box__title {
  position: absolute;
  text-align: center;
  color: white;
  letter-spacing: 10px;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
}
.lp-intro-desc {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  margin-top: 20px;
}
.lp-intro-desc__text {
  color: rgb(172, 172, 172);
  -webkit-animation: fadeIn 0.7s ease-in-out forwards;
          animation: fadeIn 0.7s ease-in-out forwards;
}
.lp-intro-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  -webkit-animation: fadeIn 0.7s ease-in-out forwards;
          animation: fadeIn 0.7s ease-in-out forwards;
}
.lp-intro-scroll__text {
  color: white;
  -webkit-animation: 0.9s linear infinite alternate scrollDown;
          animation: 0.9s linear infinite alternate scrollDown;
}
.lp-intro-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 15px auto 0 auto;
  color: white;
  background-color: #00b300;
  border-radius: 25px;
}
.lp-right {
  position: relative;
  margin-right: -30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.lp-right__blob {
  position: relative;
  width: 690px;
  margin-top: -50px;
  -webkit-animation: fadeIn 0.2s ease-in-out forwards;
          animation: fadeIn 0.2s ease-in-out forwards;
}
.lp-right__guy {
  position: absolute;
  width: 560px;
  top: 50px;
}

.abt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px;
}
.abt-left {
  position: relative;
  margin-right: -30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.abt-left__blob {
  position: relative;
  width: 640px;
  -webkit-animation: fadeIn 0.2s ease-in-out forwards;
          animation: fadeIn 0.2s ease-in-out forwards;
}
.abt-left__guy {
  position: absolute;
  width: 690px;
  left: 50px;
  top: 70px;
}
.abt-me {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 100px;
  padding-right: 80px;
}
.abt-me__header {
  font-size: 60px;
  margin-bottom: 20px;
}
.abt-me-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.abt-me-skills--top, .abt-me-skills--bottom {
  display: flex;
  gap: 25px;
}
.abt-me-skills--top .abt-me-tech:nth-child(1) {
  transition-delay: 100ms;
}
.abt-me-skills--top .abt-me-tech:nth-child(2) {
  transition-delay: 200ms;
}
.abt-me-skills--top .abt-me-tech:nth-child(3) {
  transition-delay: 300ms;
}
.abt-me-skills--top .abt-me-tech:nth-child(4) {
  transition-delay: 400ms;
}
.abt-me-skills--top .abt-me-tech:nth-child(5) {
  transition-delay: 500ms;
}
.abt-me-skills--bottom .abt-me-tech:nth-child(1) {
  transition-delay: 600ms;
}
.abt-me-skills--bottom .abt-me-tech:nth-child(2) {
  transition-delay: 700ms;
}
.abt-me-skills--bottom .abt-me-tech:nth-child(3) {
  transition-delay: 800ms;
}
.abt-me-skills--bottom .abt-me-tech:nth-child(4) {
  transition-delay: 900ms;
}
.abt-me-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.abt-me-tech__logo {
  height: 40px;
  margin-bottom: 10px;
}

.prj {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px 0 25px;
}
.prj-header {
  text-align: center;
  margin: 0 auto;
  color: white;
}
.prj-header__title {
  font-size: 60px;
  margin-bottom: 20px;
}
.prj-header__link {
  color: #00b300;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.prj-header__link:hover {
  color: green;
}
.prj-header__arrow {
  transform: rotate(220deg);
  color: #00b300;
}
.prj-projects {
  margin-top: 80px;
}
.prj-projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
.prj-card {
  width: 450px;
  height: 550px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
}
.prj-card:nth-child(1) {
  transition-delay: 200ms;
}
.prj-card:nth-child(2) {
  transition-delay: 300ms;
}
.prj-card:nth-child(3) {
  transition-delay: 400ms;
}
.prj-card-img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  background: linear-gradient(0deg, rgb(0, 179, 0) 0%, rgba(51, 0, 126, 0) 100%);
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.prj-card-img img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  opacity: 0.8;
  border-bottom: 3px solid #00b300;
}
.prj-card-inner {
  color: white;
  padding: 20px;
}
.prj-card-inner p {
  width: 100%;
  height: 155px;
  overflow-y: auto;
  margin-top: -15px;
}
.prj-card-tags {
  display: flex;
  margin: 10px 0;
  gap: 10px;
  overflow-x: scroll;
  cursor: default;
}
.prj-card-tags__name {
  padding: 2px 10px;
  background-color: rgb(122, 94, 0);
  transition: all 0.2s ease-in-out;
}
.prj-card-tags__name:hover {
  background-color: rgb(192, 147, 0);
}
.prj-card__btn {
  width: 140px;
  height: 40px;
  color: white;
  border-radius: 10px;
  border: 2px solid #00b300;
  background-color: #00b300;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
  margin-top: 25px;
  cursor: pointer;
}
.prj-card__btn-icon {
  margin-right: 10px;
}
.prj-card__btn--primary {
  background-color: #00b300;
  margin-right: 20px;
}
.prj-card__btn--primary:hover {
  background-color: #007700;
  border: 2px solid #007700;
}
.prj-card__btn--secondary {
  background-color: transparent;
}
.prj-card__btn--secondary:hover {
  box-shadow: inset 145px 0 0 0.01px #00b300;
}

@-webkit-keyframes box {
  0% {
    height: 0px;
    border-radius: 0;
    background-color: #33ff00;
  }
  100% {
    border-radius: 20px;
  }
}

@keyframes box {
  0% {
    height: 0px;
    border-radius: 0;
    background-color: #33ff00;
  }
  100% {
    border-radius: 20px;
  }
}
@-webkit-keyframes title {}
@keyframes title {}
@-webkit-keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@media (max-width: 1830px) {
  .lp {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 1660px) {
  .lp-intro__text {
    font-size: 20px;
  }
  .lp-intro-name {
    font-size: 110px;
  }
  .lp-right__blob {
    width: 630px;
  }
  .lp-right__guy {
    width: 520px;
    top: 40px;
  }
}
@media (max-width: 1540px) {
  .lp-intro__text {
    font-size: 16px;
  }
  .lp-intro-name {
    font-size: 100px;
  }
  .lp-intro-box {
    width: 98%;
  }
  .lp-intro-desc {
    width: 550px;
  }
  .lp-right__blob {
    width: 570px;
  }
  .lp-right__guy {
    width: 480px;
    top: 25px;
  }
}
@media (max-width: 1450px) {
  .lp-intro__text {
    font-size: 16px;
  }
  .lp-intro-name {
    font-size: 94px;
  }
  .lp-intro-box {
    width: 97%;
  }
  .lp-intro-desc {
    width: 520px;
    margin-left: 5px;
  }
  .lp-right__blob {
    width: 540px;
  }
  .lp-right__guy {
    width: 430px;
    top: 30px;
  }
}
@media (max-width: 1350px) {
  .lp {
    padding-left: 70px;
    padding-right: 70px;
  }
  .lp-intro__text {
    font-size: 16px;
  }
  .lp-intro-name {
    font-size: 94px;
  }
  .lp-intro-box {
    width: 97%;
  }
  .lp-right__blob {
    width: 540px;
  }
  .lp-right__guy {
    width: 430px;
    top: 30px;
  }
}
@media (max-width: 1270px) {
  .lp-intro__text {
    font-size: 15px;
  }
  .lp-intro-name {
    font-size: 92px;
  }
  .lp-intro-box {
    width: 97%;
  }
  .lp-intro-desc {
    width: 500px;
    margin-left: 13px;
  }
  .lp-right__blob {
    width: 490px;
    margin-top: -70px;
  }
  .lp-right__guy {
    width: 400px;
    top: 0px;
  }
}
@media (max-width: 1190px) {
  .lp {
    justify-content: center;
  }
  .lp-intro__text {
    font-size: 15px;
    text-align: center;
  }
  .lp-intro-name {
    font-size: 92px;
  }
  .lp-intro-box {
    width: 97%;
  }
  .lp-intro-desc {
    width: 500px;
    margin-left: 13px;
  }
  .lp-right {
    display: none;
  }
}
@media (max-width: 650px) {
  .lp-intro__text {
    font-size: 13px;
    text-align: center;
  }
  .lp-intro-name {
    font-size: 80px;
    justify-content: center;
  }
  .lp-intro-box {
    width: 97%;
    height: 40px;
  }
  .lp-intro-box__title {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .lp-intro__text {
    font-size: 13px;
  }
  .lp-intro-name {
    font-size: 60px;
  }
  .lp-intro-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-intro-box__title {
    font-size: 13px;
    margin-top: -2px;
    margin-left: 15px;
    text-align: center;
  }
  .lp-intro-desc {
    width: 420px;
    font-size: 14px;
    margin-left: 0px;
  }
  .lp-intro-circle {
    width: 25px;
    height: 25px;
  }
  .lp-intro-circle i {
    font-size: 12px;
  }
}
@media (max-width: 465px) {
  .lp-intro__text {
    font-size: 12px;
  }
  .lp-intro-name {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 50px;
  }
  .lp-intro-box {
    width: 80%;
  }
  .lp-intro-box__title {
    font-size: 12px;
    margin-top: 0;
    margin-left: 8px;
    letter-spacing: 5px;
  }
  .lp-intro-desc {
    width: 380px;
    font-size: 12px;
    margin-left: 0px;
  }
  .lp-intro-circle i {
    margin-top: 1px;
  }
}
@media (max-width: 400px) {
  .lp-intro .hand {
    display: none;
  }
  .lp-intro-box {
    margin-top: 10px;
  }
  .lp-intro-desc {
    width: 320px;
    font-size: 12px;
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  .lp-intro {
    transform: scale(0.9);
  }
}
@media (max-width: 330px) {
  .lp-intro {
    transform: scale(0.85);
  }
}
@media (max-width: 1590px) {
  .abt-left {
    margin-right: -60px;
  }
  .abt-left__blob {
    width: 590px;
  }
  .abt-left__guy {
    position: absolute;
    width: 630px;
    left: 50px;
  }
}
@media (max-width: 1500px) {
  .abt-left {
    margin-right: -50px;
  }
  .abt-left__blob {
    width: 540px;
    left: 40px;
  }
  .abt-left__guy {
    width: 590px;
    left: 50px;
    top: 70px;
  }
  .abt-me__header {
    font-size: 55px;
  }
  .abt-me__desc {
    font-size: 15px;
  }
}
@media (max-width: 1450px) {
  .abt-me {
    padding-right: 40px;
  }
  .abt-me-skills {
    gap: 25px;
  }
  .abt-me-tech__logo {
    height: 34px;
  }
}
@media (max-width: 1410px) {
  .abt-left {
    display: none;
  }
  .abt-me {
    padding-right: 80px;
    padding-left: 80px;
  }
  .abt-me-skills {
    gap: 25px;
  }
  .abt-me-tech__logo {
    height: 34px;
  }
}
@media (max-width: 920px) {
  .abt {
    padding-top: 20px;
  }
  .abt-me__header {
    font-size: 52px;
  }
  .abt-me__desc {
    font-size: 14px;
  }
  .abt-me-skills--bottom {
    margin-top: -20px;
  }
  .abt-me-tech__logo {
    height: 34px;
  }
}
@media (max-width: 780px) {
  .abt {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .abt-me {
    padding-right: 40px;
    padding-left: 40px;
  }
  .abt-me__header {
    font-size: 42px;
    margin-top: 50px;
  }
  .abt-me__desc {
    font-size: 14px;
  }
  .abt-me-tech__logo {
    height: 30px;
  }
}
@media (max-width: 590px) {
  .abt-me__header {
    font-size: 32px;
    margin-top: 50px;
  }
  .abt-me__desc {
    font-size: 13px;
  }
  .abt-me-tech__name {
    font-size: 13px;
  }
  .abt-me-tech__logo {
    height: 24px;
  }
}
@media (max-width: 455px) {
  .abt {
    height: auto;
  }
  .abt-me {
    padding-right: 20px;
    padding-left: 20px;
  }
  .abt-me__header {
    font-size: 32px;
    margin-top: 50px;
  }
  .abt-me__desc {
    font-size: 13px;
  }
  .abt-me-tech__name {
    font-size: 13px;
  }
  .abt-me-tech__logo {
    height: 24px;
  }
}
@media (max-width: 385px) {
  .abt-me__header {
    font-size: 32px;
    margin-top: 50px;
  }
  .abt-me-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  .abt-me-skills--top, .abt-me-skills--bottom {
    flex-direction: column;
    justify-content: flex-start;
  }
  .abt-me-skills--bottom {
    margin-top: 0px;
  }
  .abt-me__desc {
    font-size: 13px;
  }
  .abt-me-tech {
    margin-top: 15px;
  }
  .abt-me-tech__name {
    font-size: 13px;
  }
  .abt-me-tech__logo {
    height: 24px;
  }
}
@media (max-width: 1540px) {
  .prj {
    height: auto;
  }
  .prj-header {
    padding: 90px 50px 0px 50px;
  }
}
@media (max-width: 1500px) {
  .prj-header__title {
    font-size: 55px;
  }
}
@media (max-width: 1450px) {
  .prj-header__desc {
    font-size: 15px;
  }
  .prj-header__title {
    font-size: 55px;
  }
}
@media (max-width: 1160px) {
  .prj-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .prj-projects {
    margin-top: 80px;
  }
  .prj-projects-grid {
    padding-left: 30px;
    padding-right: 30px;
  }
  .prj-card {
    width: 450px;
  }
  .prj-card-inner p {
    font-size: 15px;
  }
}
@media (max-width: 780px) {
  .prj-projects-grid {
    margin-top: -20px;
  }
  .prj-header__desc {
    padding: 0 70px;
  }
  .prj-header__title {
    font-size: 42px;
  }
}
@media (max-width: 590px) {
  .prj-card {
    width: 380px;
    height: 570px;
  }
  .prj-card-tags__name {
    font-size: 14px;
  }
  .prj-card-inner p {
    font-size: 14px;
    height: 175px;
  }
  .prj-header__desc {
    padding: 0 40px;
  }
  .prj-header__title {
    font-size: 32px;
  }
}
@media (max-width: 475px) {
  .prj-header__desc {
    padding: 0 10px;
  }
}
@media (max-width: 440px) {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
  }
  .prj-card {
    width: 320px;
    height: 570px;
  }
  .prj-card__btn {
    width: 120px;
    height: 40px;
  }
  .prj-card-tags__name {
    font-size: 14px;
  }
  .prj-card-inner p {
    font-size: 13px;
    height: 175px;
  }
  .prj-header__desc {
    padding: 0px;
    font-size: 14px;
  }
  .prj-header__title {
    font-size: 32px;
  }
}
@media (max-width: 390px) {
  .prj-projects-grid {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 360px) {
  .prj-card {
    width: 300px;
    height: 570px;
  }
  .prj-card__btn {
    width: 100px;
    height: 40px;
  }
  .prj-card__btn i {
    display: none;
  }
}
@media (max-width: 330px) {
  .prj-card {
    width: 280px;
  }
}/*# sourceMappingURL=style.css.map */