@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$green: #00b300;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// Scrol bar
/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 20px;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

// Support for browsers that do not support webkit
@supports (scrollbar-color: #303030 #000000) {
  * {
    scrollbar-color: #303030 #000000;
    scrollbar-width: thin;
  }
}

body {
  background-color: rgb(2, 2, 2);
}

.active {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px $green;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.02;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  z-index: 2;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1700px;
    height: 60px;
    margin: 0 auto;
    padding: 0 25px;

    &-hamburger-menu {
      left: -100%;
      transition: all 0.3s ease-in-out;

      ul {
        position: absolute;
        left: -100%;
      }

      &__btn {
        position: absolute;
        left: -100%;
      }
    }

    &__logo {
      color: white;
      cursor: default;
      transition: all 0.3s ease-in-out;
      user-select: none;

      &:hover {
        color: rgb(224, 224, 224);
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    &-list {
      display: flex;
      gap: 50px;

      &__link {
        text-decoration: none;
        list-style: none;
        color: white;
        transition: all 0.2s ease-in-out;
        padding: 20px;
        user-select: none;

        &:hover {
          margin-top: -8px;
          box-shadow: inset 0 51px 0 0.01px #007400;
        }
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      gap: 5px;
      width: 80px;
      height: 35px;
      margin-left: 70px;
      background-color: $green;
      color: white;
      border-radius: 20px;
      transition: all 0.2s ease-in-out;
      border: 2px solid $green;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 146, 0);
        border: 2px solid rgb(0, 146, 0);
      }
    }
  }
}

// Landing page
.lp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px;

  &-intro {
    margin-top: 50px;

    &__text {
      color: rgb(214, 214, 214);
      letter-spacing: 15px;
      pointer-events: none;
      user-select: none;
      font-size: 24px;
      animation: fadeIn 0.7s ease-in-out forwards;
    }

    &-name {
      display: flex;
      padding: 0;
      color: white;
      font-size: 120px;
      pointer-events: none;
      user-select: none;

      &__letter {
        margin-left: -8px;
        letter-spacing: 9px;
      }

      &__letter:nth-child(1) {
        transition-delay: 100ms;
      }
      &__letter:nth-child(2) {
        transition-delay: 200ms;
      }
      &__letter:nth-child(3) {
        transition-delay: 300ms;
      }
      &__letter:nth-child(4) {
        transition-delay: 400ms;
      }
      &__letter:nth-child(5) {
        transition-delay: 500ms;
      }
      &__letter:nth-child(6) {
        transition-delay: 600ms;
      }
      &__letter:nth-child(7) {
        transition-delay: 700ms;
      }
      &__letter:nth-child(8) {
        transition-delay: 800ms;
      }
      &__letter:nth-child(9) {
        transition-delay: 900ms;
      }
    }

    &-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      background-color: $green;
      margin-top: 20px;
      margin-left: 4px;
      overflow: hidden;
      animation: box 0.7s ease-in-out forwards;

      &__title {
        position: absolute;
        text-align: center;
        color: white;
        letter-spacing: 10px;
        animation: fadeIn 1s ease-in-out forwards;
      }
    }

    &-desc {
      margin: 0 auto;
      width: 600px;
      text-align: center;
      margin-top: 20px;

      &__text {
        color: rgb(172, 172, 172);
        animation: fadeIn 0.7s ease-in-out forwards;
      }
    }

    &-scroll {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 200px;
      animation: fadeIn 0.7s ease-in-out forwards;

      &__text {
        color: white;
        animation: 0.9s linear infinite alternate scrollDown;
      }
    }

    &-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin: 15px auto 0 auto;
      color: white;
      background-color: $green;
      border-radius: 25px;
    }
  }

  &-right {
    position: relative;
    margin-right: -30px;
    user-select: none;
    pointer-events: none;

    &__blob {
      position: relative;
      width: 690px;
      margin-top: -50px;
      animation: fadeIn 0.2s ease-in-out forwards;
    }

    &__guy {
      position: absolute;
      width: 560px;
      top: 50px;
    }
  }
}

//About
.abt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px;

  &-left {
    position: relative;
    margin-right: -30px;
    user-select: none;
    pointer-events: none;

    &__blob {
      position: relative;
      width: 640px;
      animation: fadeIn 0.2s ease-in-out forwards;
    }

    &__guy {
      position: absolute;
      width: 690px;
      left: 50px;
      top: 70px;
    }
  }

  &-me {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 100px;
    padding-right: 80px;

    &__header {
      font-size: 60px;
      margin-bottom: 20px;
    }

    &-skills {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;

      &--top,
      &--bottom {
        display: flex;
        gap: 25px;
      }

      &--top {
        .abt-me-tech:nth-child(1) {
          transition-delay: 100ms;
        }
        .abt-me-tech:nth-child(2) {
          transition-delay: 200ms;
        }
        .abt-me-tech:nth-child(3) {
          transition-delay: 300ms;
        }
        .abt-me-tech:nth-child(4) {
          transition-delay: 400ms;
        }
        .abt-me-tech:nth-child(5) {
          transition-delay: 500ms;
        }
      }

      &--bottom {
        .abt-me-tech:nth-child(1) {
          transition-delay: 600ms;
        }
        .abt-me-tech:nth-child(2) {
          transition-delay: 700ms;
        }
        .abt-me-tech:nth-child(3) {
          transition-delay: 800ms;
        }
        .abt-me-tech:nth-child(4) {
          transition-delay: 900ms;
        }
      }
    }

    &-tech {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;

      &__logo {
        height: 40px;
        margin-bottom: 10px;
      }
    }
  }
}

.prj {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px 0 25px;

  &-header {
    text-align: center;
    margin: 0 auto;
    color: white;

    &__title {
      font-size: 60px;
      margin-bottom: 20px;
    }

    &__link {
      color: $green;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: green;
      }
    }

    &__arrow {
      transform: rotate(220deg);
      color: $green;
    }
  }

  &-projects {
    margin-top: 80px;

    &-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &-card {
    width: 450px;
    height: 550px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);

    &:nth-child(1) {
      transition-delay: 200ms;
    }
    &:nth-child(2) {
      transition-delay: 300ms;
    }
    &:nth-child(3) {
      transition-delay: 400ms;
    }

    &-img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      background: linear-gradient(
        0deg,
        rgba(0, 179, 0, 1) 0%,
        rgba(51, 0, 126, 0) 100%
      );
      border-radius: 20px;
      user-select: none;
      pointer-events: none;

      img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 20px;
        opacity: 0.8;
        border-bottom: 3px solid $green;
      }
    }

    &-inner {
      color: white;
      padding: 20px;

      p {
        width: 100%;
        height: 155px;
        overflow-y: auto;
        margin-top: -15px;
      }
    }

    &-tags {
      display: flex;
      margin: 10px 0;
      gap: 10px;
      overflow-x: scroll;
      cursor: default;

      &__name {
        padding: 2px 10px;
        background-color: rgb(122, 94, 0);
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: rgb(192, 147, 0);
        }
      }
    }

    &__btn {
      width: 140px;
      height: 40px;
      color: white;
      border-radius: 10px;
      border: 2px solid $green;
      background-color: $green;
      transition: all 0.2s ease-in-out;
      font-size: 15px;
      margin-top: 25px;
      cursor: pointer;

      &-icon {
        margin-right: 10px;
      }

      &--primary {
        background-color: $green;
        margin-right: 20px;

        &:hover {
          background-color: #007700;
          border: 2px solid #007700;
        }
      }

      &--secondary {
        background-color: transparent;

        &:hover {
          box-shadow: inset 145px 0 0 0.01px #00b300;
        }
      }
    }
  }
}

// Contact
.ct {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px 0 25px;

  &-header {
    text-align: center;
    margin: 0 auto;
    color: white;

    &__title {
      font-size: 60px;
      margin-bottom: 20px;
      padding-top: 80px;
    }

    &__link {
      color: $green;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: green;
      }
    }

    &__arrow {
      transform: rotate(220deg);
      color: $green;
    }
  }

  &-desc {
    display: flex;
    align-items: center;
    gap: 25px;

    &__linkedin,
    &__github {
      color: white;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: rgb(211, 211, 211);
      }
    }

    &__marker {
      color: red;
    }

    &__arrow {
      transform: rotate(220deg);
    }
  }

  &-form {
    margin-top: 50px;
    width: 1000px;
    height: 500px;

    &-top {
      display: flex;
      gap: 10px;
      margin: 10px 0;
    }

    &-message {
      height: 300px;
      resize: none;
    }

    input,
    textArea {
      padding: 10px;
      width: 32%;
      background-color: black;
      border: 2px solid rgb(139, 139, 139);
      border-radius: 10px;
      outline: none;
      color: white;
      width: 100%;

      &:focus {
        border: 2px solid $green;
      }
    }

    &__title {
      color: white;
      margin-top: 15px;
    }

    &__submit-btn {
      background-color: #00b300;
      padding: 15px 65px;
      font-size: 15px;
      margin-top: 20px;
      color: white;
      border-radius: 25px;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #007700;
      }
    }
  }
}

.copyright {
  width: 100%;
  margin-top: 120px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    color: rgb(102, 102, 102);
  }
}
// Animations
@keyframes box {
  0% {
    height: 0px;
    border-radius: 0;
    background-color: #33ff00;
  }

  70% {
  }

  100% {
    border-radius: 20px;
  }
}

@keyframes title {
  0% {
  }

  100% {
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

// Nav bar media queries
@media (max-width: 980px) {
  .nav {
    &-content {
      &-hamburger {
        display: block;
        transition: all 0.3s ease-in-out;
        margin-top: -3px;
        cursor: pointer;

        &-menu {
          position: fixed;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          top: 60px;
          left: -100%;
          justify-content: center;
          background-color: rgba($color: #000000, $alpha: 0.99);
          width: 100%;
          height: 100vh;
          text-align: center;
          transition: all 0.3s ease-in-out;
          animation: fadeOut 0.3s ease-in-out forwards;

          ul {
            position: static;
            margin-top: -50px;
          }

          &__item {
            display: block;
            list-style: none;
            text-decoration: none;
            color: white;
            font-size: 50px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            li {
              margin-bottom: 70px;
              cursor: pointer;
            }
          }

          &__btn {
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            gap: 5px;
            height: 45px;
            width: 120px;
            margin: 0 auto;
            border-radius: 20px;
            background-color: $green;
            transition: all 0.2s ease-in-out;
            border: 2px solid $green;
            cursor: pointer;
            color: white;

            &:hover {
              background-color: rgb(0, 146, 0);
              border: 2px solid rgb(0, 146, 0);
            }
          }
        }

        &__line {
          width: 35px;
          height: 2px;
          margin-top: 5px;
          background-color: white;
          margin-left: auto;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &-right {
      display: none;
    }
  }

  .ham-active {
    transition: all 0.3s ease-in-out;

    .nav-content-hamburger__line {
      transition: all 0.3s ease-in-out;
    }

    .nav-content-hamburger__line:nth-child(2) {
      opacity: 0;
    }

    .nav-content-hamburger__line:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }

    .nav-content-hamburger__line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .menu-active {
    left: 0;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
}

@media (max-width: 550px) {
  .nav {
    &-content {
      &-hamburger {
        &-menu {
          &__item {
            font-size: 30px;
          }
        }
      }
    }
  }
}

// Landing page media queries
@media (max-width: 1830px) {
  .lp {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1660px) {
  .lp {
    &-intro {
      &__text {
        font-size: 20px;
      }

      &-name {
        font-size: 110px;
      }
    }

    &-right {
      &__blob {
        width: 630px;
      }

      &__guy {
        width: 520px;
        top: 40px;
      }
    }
  }
}

@media (max-width: 1540px) {
  .lp {
    &-intro {
      &__text {
        font-size: 16px;
      }

      &-name {
        font-size: 100px;
      }

      &-box {
        width: 98%;
      }

      &-desc {
        width: 550px;
      }
    }

    &-right {
      &__blob {
        width: 570px;
      }

      &__guy {
        width: 480px;
        top: 25px;
      }
    }
  }
}

@media (max-width: 1450px) {
  .lp {
    &-intro {
      &__text {
        font-size: 16px;
      }

      &-name {
        font-size: 94px;
      }

      &-box {
        width: 97%;
      }

      &-desc {
        width: 520px;
        margin-left: 5px;
      }
    }

    &-right {
      &__blob {
        width: 540px;
      }

      &__guy {
        width: 430px;
        top: 30px;
      }
    }
  }
}

@media (max-width: 1350px) {
  .lp {
    padding-left: 70px;
    padding-right: 70px;

    &-intro {
      &__text {
        font-size: 16px;
      }

      &-name {
        font-size: 94px;
      }

      &-box {
        width: 97%;
      }
    }

    &-right {
      &__blob {
        width: 540px;
      }

      &__guy {
        width: 430px;
        top: 30px;
      }
    }
  }
}

@media (max-width: 1270px) {
  .lp {
    &-intro {
      &__text {
        font-size: 15px;
      }

      &-name {
        font-size: 92px;
      }

      &-box {
        width: 97%;
      }

      &-desc {
        width: 500px;
        margin-left: 13px;
      }
    }

    &-right {
      &__blob {
        width: 490px;
        margin-top: -70px;
      }

      &__guy {
        width: 400px;
        top: 0px;
      }
    }
  }
}

@media (max-width: 1190px) {
  .lp {
    justify-content: center;
    &-intro {
      &__text {
        font-size: 15px;
        text-align: center;
      }

      &-name {
        font-size: 92px;
      }

      &-box {
        width: 97%;
      }

      &-desc {
        width: 500px;
        margin-left: 13px;
      }
    }

    &-right {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .lp {
    &-intro {
      &__text {
        font-size: 13px;
        text-align: center;
      }

      &-name {
        font-size: 80px;
        justify-content: center;
      }

      &-box {
        width: 97%;
        height: 40px;

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .lp {
    &-intro {
      &__text {
        font-size: 13px;
      }

      &-name {
        font-size: 60px;
      }

      &-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        &__title {
          font-size: 13px;
          margin-top: -2px;
          margin-left: 15px;
          text-align: center;
        }
      }

      &-desc {
        width: 420px;
        font-size: 14px;
        margin-left: 0px;
      }

      &-circle {
        width: 25px;
        height: 25px;

        i {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 465px) {
  .lp {
    &-intro {
      &__text {
        font-size: 12px;
      }

      &-name {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 50px;
      }

      &-box {
        width: 80%;

        &__title {
          font-size: 12px;
          margin-top: 0;
          margin-left: 8px;
          letter-spacing: 5px;
        }
      }

      &-desc {
        width: 380px;
        font-size: 12px;
        margin-left: 0px;
      }

      &-circle {
        i {
          margin-top: 1px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .lp {
    &-intro {
      .hand {
        display: none;
      }

      &-box {
        margin-top: 10px;
      }

      &-desc {
        width: 320px;
        font-size: 12px;
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 360px) {
  .lp {
    &-intro {
      transform: scale(0.9);
    }
  }
}

@media (max-width: 330px) {
  .lp {
    &-intro {
      transform: scale(0.85);
    }
  }
}

// About page media queries
@media (max-width: 1590px) {
  .abt {
    &-left {
      margin-right: -60px;

      &__blob {
        width: 590px;
      }

      &__guy {
        position: absolute;
        width: 630px;
        left: 50px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .abt {
    &-left {
      margin-right: -50px;

      &__blob {
        width: 540px;
        left: 40px;
      }

      &__guy {
        width: 590px;
        left: 50px;
        top: 70px;
      }
    }

    &-me {
      &__header {
        font-size: 55px;
      }

      &__desc {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 1450px) {
  .abt {
    &-me {
      padding-right: 40px;

      &-skills {
        gap: 25px;
      }

      &-tech {
        &__logo {
          height: 34px;
        }
      }
    }
  }
}

@media (max-width: 1410px) {
  .abt {
    &-left {
      display: none;
    }

    &-me {
      padding-right: 80px;
      padding-left: 80px;

      &-skills {
        gap: 25px;
      }

      &-tech {
        &__logo {
          height: 34px;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .abt {
    padding-top: 20px;

    &-me {
      &__header {
        font-size: 52px;
      }

      &__desc {
        font-size: 14px;
      }

      &-skills {
        &--bottom {
          margin-top: -20px;
        }
      }

      &-tech {
        &__logo {
          height: 34px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .abt {
    padding-top: 40px;
    padding-bottom: 50px;

    &-me {
      padding-right: 40px;
      padding-left: 40px;

      &__header {
        font-size: 42px;
        margin-top: 50px;
      }

      &__desc {
        font-size: 14px;
      }

      &-tech {
        &__logo {
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .abt {
    &-me {
      &__header {
        font-size: 32px;
        margin-top: 50px;
      }

      &__desc {
        font-size: 13px;
      }

      &-tech {
        &__name {
          font-size: 13px;
        }
        &__logo {
          height: 24px;
        }
      }
    }
  }
}

@media (max-width: 455px) {
  .abt {
    height: auto;
    &-me {
      padding-right: 20px;
      padding-left: 20px;

      &__header {
        font-size: 32px;
        margin-top: 50px;
      }

      &__desc {
        font-size: 13px;
      }

      &-tech {
        &__name {
          font-size: 13px;
        }
        &__logo {
          height: 24px;
        }
      }
    }
  }
}

@media (max-width: 385px) {
  .abt {
    &-me {
      &__header {
        font-size: 32px;
        margin-top: 50px;
      }

      &-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        &--top,
        &--bottom {
          flex-direction: column;
          justify-content: flex-start;
        }

        &--bottom {
          margin-top: 0px;
        }
      }

      &__desc {
        font-size: 13px;
      }

      &-tech {
        margin-top: 15px;

        &__name {
          font-size: 13px;
        }
        &__logo {
          height: 24px;
        }
      }
    }
  }
}

// Projects Media Queries
@media (max-width: 1540px) {
  .prj {
    height: auto;
    padding-bottom: 0px;

    &-header {
      padding: 90px 50px 0px 50px;
    }
  }
}

@media (max-width: 1500px) {
  .prj {
    &-header {
      &__title {
        font-size: 55px;
      }
    }
  }
}

@media (max-width: 1450px) {
  .prj {
    &-header {
      &__desc {
        font-size: 15px;
      }

      &__title {
        font-size: 55px;
      }
    }
  }
}

@media (max-width: 1160px) {
  .prj {
    &-header {
      padding-left: 30px;
      padding-right: 30px;
    }

    &-projects {
      margin-top: 80px;

      &-grid {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &-card {
      width: 450px;

      &-inner {
        p {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .prj {
    &-projects-grid {
      margin-top: -20px;
    }
    &-header {
      &__desc {
        padding: 0 70px;
      }

      &__title {
        font-size: 42px;
      }
    }
  }
}

@media (max-width: 590px) {
  .prj {
    &-card {
      width: 380px;
      height: 570px;

      &-tags {
        &__name {
          font-size: 14px;
        }
      }

      &-inner {
        p {
          font-size: 14px;
          height: 175px;
        }
      }
    }

    &-header {
      &__desc {
        padding: 0 40px;
      }

      &__title {
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 475px) {
  .prj {
    &-header {
      &__desc {
        padding: 0 10px;
      }
    }
  }
}

@media (max-width: 440px) {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
  }

  .prj {
    &-card {
      width: 320px;
      height: 570px;

      &__btn {
        width: 120px;
        height: 40px;
      }

      &-tags {
        &__name {
          font-size: 14px;
        }
      }

      &-inner {
        p {
          font-size: 13px;
          height: 175px;
        }
      }
    }

    &-header {
      &__desc {
        padding: 0px;
        font-size: 14px;
      }

      &__title {
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 390px) {
  .prj {
    &-projects {
      &-grid {
        padding-left: 0px;
        padding-right: 00px;
      }
    }
  }
}

@media (max-width: 360px) {
  .prj {
    &-card {
      width: 300px;
      height: 570px;

      &__btn {
        width: 100px;
        height: 40px;

        i {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .prj {
    &-card {
      width: 280px;
    }
  }
}

// Contact meda queries
@media (max-width: 1500px) {
  .ct {
    &-header {
      &__title {
        font-size: 55px;
      }
    }
  }
}

@media (max-width: 1250px) {
  .ct {
    &-form {
      width: 800px;
    }
  }
}

@media (max-width: 1000px) {
  .ct {
    &-form {
      width: 600px;

      &__title {
        margin-top: -10px;
      }

      &-top {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 780px) {
  .ct {
    &-header {
      &__title {
        font-size: 42px;
      }
    }
  }
}

@media (max-width: 760px) {
  .ct {
    &-desc {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 30px;
      padding-right: 30px;
    }
    &-form {
      width: 500px;
    }
  }
}

@media (max-width: 590px) {
  .ct {
    &-header {
      &__title {
        font-size: 32px;
      }
    }

    &-form {
      width: 400px;
    }
  }
}

@media (max-width: 440px) {
  .ct {
    &-desc {
      gap: 10px;
    }
  }
}

@media (max-width: 450px) {
  .ct {
    height: auto;
    padding-bottom: 50px;

    &-form {
      width: 350px;
    }
  }
  .copyright {
    &__text {
      font-size: 15px;
    }
  }
}

@media (max-width: 400px) {
  .ct {
    &-form {
      width: 300px;

      &__submit-btn {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    .copyright {
      &__text {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 345px) {
  .ct {
    &-desc {
      padding-left: 10px;
      padding-right: 10px;
    }

    &-form {
      width: 250px;
    }
  }
}
