@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "../styles/other/scrollbar.scss";

$green: rgb(0, 179, 0);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.two {
  width: 100%;
  height: 100vh;
  background-color: #00ff40;
}

body {
  background-color: rgb(2, 2, 2);
}

.active {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px $green;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.02;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  z-index: 2;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1700px;
    height: 60px;
    margin: 0 auto;
    padding: 0 25px;

    &__logo {
      color: white;
      cursor: default;
      transition: all 0.3s ease-in-out;
      user-select: none;

      &:hover {
        color: rgb(224, 224, 224);
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    &-list {
      display: flex;
      gap: 50px;

      &__link {
        text-decoration: none;
        list-style: none;
        color: white;
        transition: all 0.2s ease-in-out;
        padding: 20px;
        user-select: none;

        &:hover {
          margin-top: -8px;
          box-shadow: inset 0 51px 0 0.01px #007400;
        }
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      gap: 5px;
      width: 80px;
      height: 35px;
      margin-left: 70px;
      background-color: $green;
      color: white;
      border-radius: 20px;
      transition: all 0.2s ease-in-out;
      border: 2px solid $green;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 146, 0);
        border: 2px solid rgb(0, 146, 0);
      }
    }
  }
}

// Landing page
.lp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px;

  &-intro {
    margin-top: 50px;

    &__text {
      color: rgb(214, 214, 214);
      letter-spacing: 15px;
      pointer-events: none;
      user-select: none;
      font-size: 24px;
      animation: fadeIn 0.7s ease-in-out forwards;
    }

    &-name {
      display: flex;
      padding: 0;
      color: white;
      font-size: 120px;
      pointer-events: none;
      user-select: none;

      &__letter {
        margin-left: -8px;
        letter-spacing: 9px;
      }

      &__letter:nth-child(1) {
        transition-delay: 100ms;
      }
      &__letter:nth-child(2) {
        transition-delay: 200ms;
      }
      &__letter:nth-child(3) {
        transition-delay: 300ms;
      }
      &__letter:nth-child(4) {
        transition-delay: 400ms;
      }
      &__letter:nth-child(5) {
        transition-delay: 500ms;
      }
      &__letter:nth-child(6) {
        transition-delay: 600ms;
      }
      &__letter:nth-child(7) {
        transition-delay: 700ms;
      }
      &__letter:nth-child(8) {
        transition-delay: 800ms;
      }
      &__letter:nth-child(9) {
        transition-delay: 900ms;
      }
    }

    &-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      background-color: $green;
      margin-top: 20px;
      margin-left: 4px;
      overflow: hidden;
      animation: box 0.7s ease-in-out forwards;

      &__title {
        position: absolute;
        color: white;
        letter-spacing: 10px;
        animation: fadeIn 1s ease-in-out forwards;
      }
    }

    &-desc {
      margin: 0 auto;
      width: 600px;
      text-align: center;
      margin-top: 20px;

      &__text {
        color: rgb(172, 172, 172);
        animation: fadeIn 0.7s ease-in-out forwards;
      }
    }

    &-scroll {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 200px;
      animation: fadeIn 0.7s ease-in-out forwards;

      &__text {
        color: white;
        animation: 0.9s linear infinite alternate scrollDown;
      }
    }

    &-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin: 15px auto 0 auto;
      color: white;
      background-color: $green;
      border-radius: 25px;
    }
  }

  &-right {
    position: relative;
    margin-right: -30px;
    user-select: none;
    pointer-events: none;

    &__blob {
      position: relative;
      width: 690px;
      margin-top: -50px;
      animation: fadeIn 0.2s ease-in-out forwards;
    }

    &__guy {
      position: absolute;
      width: 560px;
      top: 50px;
    }
  }
}

//About
.abt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 25px;

  &-left {
    position: relative;
    margin-right: -30px;
    user-select: none;
    pointer-events: none;

    &__blob {
      position: relative;
      width: 640px;
      animation: fadeIn 0.2s ease-in-out forwards;
    }

    &__guy {
      position: absolute;
      width: 690px;
      left: 50px;
      top: 70px;
    }
  }

  &-me {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 100px;
    padding-right: 80px;

    &__header {
      font-size: 60px;
      margin-bottom: 20px;
    }

    &-skills {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;

      &--top,
      &--bottom {
        display: flex;
        gap: 25px;
      }

      &--top {
        .abt-me-tech:nth-child(1) {
          transition-delay: 100ms;
        }
        .abt-me-tech:nth-child(2) {
          transition-delay: 200ms;
        }
        .abt-me-tech:nth-child(3) {
          transition-delay: 300ms;
        }
        .abt-me-tech:nth-child(4) {
          transition-delay: 400ms;
        }
        .abt-me-tech:nth-child(5) {
          transition-delay: 500ms;
        }
      }

      &--bottom {
        .abt-me-tech:nth-child(1) {
          transition-delay: 600ms;
        }
        .abt-me-tech:nth-child(2) {
          transition-delay: 700ms;
        }
        .abt-me-tech:nth-child(3) {
          transition-delay: 800ms;
        }
        .abt-me-tech:nth-child(4) {
          transition-delay: 900ms;
        }
      }
    }

    &-tech {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;

      &__logo {
        height: 40px;
        margin-bottom: 10px;
      }
    }
  }
}

// Animations
@keyframes box {
  0% {
    height: 0px;
    border-radius: 0;
    background-color: #33ff00;
  }

  70% {
  }

  100% {
    border-radius: 20px;
  }
}

@keyframes title {
  0% {
  }

  100% {
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

// Landing page media queries
@media (max-width: 1830px) {
  .lp {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1660px) {
  .lp {
    &-intro {
      &__text {
        font-size: 20px;
      }

      &-name {
        font-size: 110px;
      }
    }

    &-right {
      &__blob {
        width: 630px;
      }

      &__guy {
        width: 520px;
        top: 40px;
      }
    }
  }
}

@media (max-width: 1540px) {
  .lp {
    &-intro {
      &__text {
        font-size: 16px;
      }

      &-name {
        font-size: 100px;
      }

      &-box {
        width: 98%;
      }

      &-desc {
        width: 550px;
      }
    }

    &-right {
      &__blob {
        width: 570px;
      }

      &__guy {
        width: 480px;
        top: 25px;
      }
    }
  }
}

@media (max-width: 1450px) {
  .lp {
    &-intro {
      &__text {
        font-size: 16px;
      }

      &-name {
        font-size: 94px;
      }

      &-box {
        width: 97%;
      }

      &-desc {
        width: 520px;
        margin-left: 5px;
      }
    }

    &-right {
      &__blob {
        width: 540px;
      }

      &__guy {
        width: 430px;
        top: 30px;
      }
    }
  }
}

@media (max-width: 1350px) {
  .lp {
    padding-left: 70px;
    padding-right: 70px;

    &-intro {
      &__text {
        font-size: 16px;
      }

      &-name {
        font-size: 94px;
      }

      &-box {
        width: 97%;
      }
    }

    &-right {
      &__blob {
        width: 540px;
      }

      &__guy {
        width: 430px;
        top: 30px;
      }
    }
  }
}

@media (max-width: 1270px) {
  .lp {
    &-intro {
      &__text {
        font-size: 15px;
      }

      &-name {
        font-size: 92px;
      }

      &-box {
        width: 97%;
      }

      &-desc {
        width: 500px;
        margin-left: 13px;
      }
    }

    &-right {
      &__blob {
        width: 490px;
        margin-top: -70px;
      }

      &__guy {
        width: 400px;
        top: 0px;
      }
    }
  }
}

@media (max-width: 1190px) {
  .lp {
    justify-content: center;
    &-intro {
      &__text {
        font-size: 15px;
        text-align: center;
      }

      &-name {
        font-size: 92px;
      }

      &-box {
        width: 97%;
      }

      &-desc {
        width: 500px;
        margin-left: 13px;
      }
    }

    &-right {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .lp {
    &-intro {
      &__text {
        font-size: 13px;
        text-align: center;
      }

      &-name {
        font-size: 80px;
        justify-content: center;
      }

      &-box {
        width: 97%;
        height: 40px;

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .lp {
    &-intro {
      &__text {
        font-size: 13px;
      }

      &-name {
        font-size: 60px;
      }

      &-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        &__title {
          font-size: 13px;
          margin-top: -2px;
          margin-left: 15px;
          text-align: center;
        }
      }

      &-desc {
        width: 420px;
        font-size: 14px;
        margin-left: 0px;
      }

      &-circle {
        width: 25px;
        height: 25px;

        i {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 465px) {
  .lp {
    &-intro {
      &__text {
        font-size: 12px;
      }

      &-name {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 50px;
      }

      &-box {
        width: 80%;

        &__title {
          font-size: 12px;
          margin-top: 0;
          margin-left: 8px;
          letter-spacing: 5px;
        }
      }

      &-desc {
        width: 380px;
        font-size: 12px;
        margin-left: 0px;
      }

      &-circle {
        i {
          margin-top: 1px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .lp {
    &-intro {
      .hand {
        display: none;
      }

      &-box {
        margin-top: 10px;
      }

      &-desc {
        width: 320px;
        font-size: 12px;
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 360px) {
  .lp {
    &-intro {
      transform: scale(0.9);
    }
  }
}

@media (max-width: 330px) {
  .lp {
    &-intro {
      transform: scale(0.85);
    }
  }
}

// About page media queries
@media (max-width: 1590px) {
  .abt {
    &-left {
      margin-right: -60px;

      &__blob {
        width: 590px;
      }

      &__guy {
        position: absolute;
        width: 630px;
        left: 50px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .abt {
    &-left {
      margin-right: -50px;

      &__blob {
        width: 540px;
        left: 40px;
      }

      &__guy {
        width: 590px;
        left: 50px;
        top: 70px;
      }
    }

    &-me {
      &__header {
        font-size: 55px;
      }

      &__desc {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 1450px) {
  .abt {
    &-me {
      padding-right: 40px;

      &-skills {
        gap: 25px;
      }

      &-tech {
        &__logo {
          height: 34px;
        }
      }
    }
  }
}

@media (max-width: 1410px) {
  .abt {
    &-left {
      display: none;
    }

    &-me {
      padding-right: 80px;
      padding-left: 80px;

      &-skills {
        gap: 25px;
      }

      &-tech {
        &__logo {
          height: 34px;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .abt {
    padding-top: 20px;

    &-me {
      &__header {
        font-size: 52px;
      }

      &__desc {
        font-size: 14px;
      }

      &-skills {
        &--bottom {
          margin-top: -20px;
        }
      }

      &-tech {
        &__logo {
          height: 34px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .abt {
    padding-top: 40px;
    padding-bottom: 50px;

    &-me {
      padding-right: 40px;
      padding-left: 40px;

      &__header {
        font-size: 42px;
        margin-top: 50px;
      }

      &__desc {
        font-size: 14px;
      }

      &-tech {
        &__logo {
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .abt {
    &-me {
      &__header {
        font-size: 32px;
        margin-top: 50px;
      }

      &__desc {
        font-size: 13px;
      }

      &-tech {
        &__name {
          font-size: 13px;
        }
        &__logo {
          height: 24px;
        }
      }
    }
  }
}

@media (max-width: 455px) {
  .abt {
    height: auto;
    &-me {
      padding-right: 20px;
      padding-left: 20px;

      &__header {
        font-size: 32px;
        margin-top: 50px;
      }

      // &-skills {
      //   display: flex;
      //   flex-wrap: wrap;
      //   gap: 25px;

      //   &--top,
      //   &--bottom {
      //     display: flex;
      //     gap: 25px;
      //   }
      // }

      &__desc {
        font-size: 13px;
      }

      &-tech {
        &__name {
          font-size: 13px;
        }
        &__logo {
          height: 24px;
        }
      }
    }
  }
}

@media (max-width: 385px) {
  .abt {
    &-me {
      &__header {
        font-size: 32px;
        margin-top: 50px;
      }

      &-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        &--top,
        &--bottom {
          flex-direction: column;
          justify-content: flex-start;
        }

        &--bottom {
          margin-top: 0px;
        }
      }

      &__desc {
        font-size: 13px;
      }

      &-tech {
        margin-top: 15px;

        &__name {
          font-size: 13px;
        }
        &__logo {
          height: 24px;
        }
      }
    }
  }
}
